.App {
  background-color: #404040;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
a:link, a:visited {
  color: #57905c;
}
.wp-caption-text {
  font-size: 12px;
  color: #999;
}
.post-date {
  text-align: right;
  font-size: 11px;
  color: #999;
}
.carousel-caption {
  font-size: 24px;
}
.page-header {
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid #bbb;
}
.page-header > .wrapper {
  background-color: #bfb7a4;
}
.page-header .logo-img {
  height: 100px;
}
.header-logo-row {
  height: 100px;
}
.header-logo-container {
  position: relative;
  display: block;
  margin-bottom: -100px;
  top: -100px;
}
@media (max-width: 767px) {
  .header-logo-row {
    height: 200px;
  }
  .header-logo-container {
    margin-bottom: -200px;
    top: -200px;
    padding: 0;
  }
}
.logo-l {
  background-color: #bfb7a4;
}
.logo-r {
  background-color: #d4d2c2;
  text-align: right;
  padding: 32px 12px 12px 12px;
  height: 100px;
}
.top-bar {
  background-color: #495056;
  height: 30px;
}
.top-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.top-bar ul > li {
  display: inline-block;
  margin: 0;
}
.top-bar ul > li > a, .top-bar ul > li > span {
  color: #fff;
  line-height: 30px;
  height: 30px;
  padding: 6px 10px;
}
.top-bar ul > li > .dropdown > .btn {
  border-radius: 0;
  border:none;
  color: #fff;
  background-color: #495056;
  transition: 0.3s linear;
}
.top-bar ul > li > .dropdown > .btn:hover {
  background-color: #363d44;
}
.top-bar ul > li > .dropdown.open > .btn {
  color: #fff;
  background-color: #626a72;
}
.top-bar ul > li > .dropdown li {
  width: 100%;
}
.top-bar ul > li > .dropdown li.active a {
  color: #fff;
  background-color: #626a72;
}
.top-bar ul > li > .dropdown li > a {
  color: #333;
  padding: 3px 20px;
  line-height: 1.42857143;
  display: block;
  border-radius: 4px;
}
.top-bar li {
  transition: 0.3s linear;
}
.top-bar li:hover {
  background-color: #363d44;
}
.page-header-wrapper {
  height: 100px;
  overflow: hidden;
}
.navbar {
  border: none;
  border-radius: 0;
}
.admin-menu .dropdown-menu {
  right: -1px;
  left: auto !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 29px;
}
.top-bar
.navbar-header {
  position: relative;
  z-index: 999;
}
.navbar-header {
  position: relative;
  z-index: 999;
}
.navbar-brand {
  list-style-type: none;
  display: none;
  transition: visibility 0.2s;
}
.navbar-brand img {
  height: 80px;
  display: none;
  transition: visibility 0.2s;
}
.navbar-container {
  height: 55px;
  background-color: #fff;
  border-top: 2px solid #556997;
  border-bottom: 1px solid #ddd;
  transition: 0.1s linear;
}
.navbar-container.fixed .navbar-collapse {
  top: -15px;
  width: calc(100% + 30px);
  position: relative;
}
.navbar-nav {
  background-color: #fff;
  margin:0 !important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 14px;
    color: #333;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    border-bottom: 2px solid #556997;
    background-color: #fff;
}
.navbar-nav>li>a:active {
    background-color: #fff;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}
.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
  display: block; }

.navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown:hover > ul.dropdown-menu {
  display: block;
  top: 0;
  left: 140px; }

/* fix for open state */
.navbar-nav .open > .dropdown-menu {
  display: none; }

.navbar-container.fixed {
  position: fixed;
  top: 0;
  opacity: 0.8;
  z-index:999;
  left: 0;
  width: 100%;
  height: 40px;
}
.navbar-container.fixed:hover {
  opacity: 1;
}
.navbar-container.fixed .navbar-toggle {
  height: 26px;
  margin-top: 5px;
}
.navbar-container.fixed .navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 8px;
    color: #333;
    font-size: 13px;
    transition: 0.1s linear;
}

.navbar-container.fixed .navbar-collapse > .navbar-nav {
    margin: -35px 0 0 50px !important;
}
.navbar-container.fixed .navbar-brand {
  display: inline-block;
  padding: 2px 15px;
}
.navbar-container.fixed .navbar-brand img {
  max-height: 30px;
  display: block;
}
.navbar-none {
  z-index: 999;
}
.navbar-collapse {
  padding: 0;
}
.navbar-toggle {
  border: 1px solid #eee;
  color: #fff;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 5px;
  height: 30px;
  width: 30px;
  text-align: center;
}
.navbar-toggle > .icon-bar {
  background-color: #556997;
  width: 100%;
}
.navbar-collapse.collapse.in {
  background-color: #fff;
  margin-left: -16px;
  margin-right: -16px;
}

@media (max-width: 767px) {
  .navbar-container.fixed .navbar-collapse  > .navbar-nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* display children items */
  .navbar-nav > li.dropdown > ul.dropdown-menu {
    display: block;
    position: relative;
    float: none;
    text-align: center;
    box-shadow: none;
    background-color: #f5f5f5;
    border: none;
  }
  .navbar-nav {
    padding-top: 50px;
  }
  .navbar-container.fixed {
    opacity: 0.95;
  }
  .navbar-nav > li, .navbar-nav > li.dropdown > ul.dropdown-menu li {
    border-bottom: 1px solid #ededed;
  }
  .navbar-nav > li:last-child, .navbar-nav > li.dropdown > ul.dropdown-menu li:last-child {
    border-bottom: none;
  }
  .navbar-nav > li.dropdown > ul.dropdown-menu li a {
    line-height: 25px;
  }
}
.main-body {
  background-color: #efefef;
  padding: 20px 0 40px 0;
}
a {
  cursor: pointer;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}
.section-title span {
  border-bottom: 2px solid #556997;
}
.home-section {
  background-color: #e8e6da;
  padding: 30px 0;
}
.home-recently-added {
  padding: 30px 0;
}
.home-recent-item {
  border: 1px solid #ededed;
  padding: 15px;
  margin: 0 0 20px 0;
  font-size: 13px;
}
.home-recent-item h4 {
  font-variant: small-caps;
  font-size:15px;
  margin-top: 0;
  font-weight: 800;
}
.featured-collections, .home-highlights {
  background-color: #e8eff2;
  padding: 30px 0;
  margin: 0;
}
.home-collection {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  height:140px;
  overflow:hidden;
}
.home-collection h4 {
  font-variant: small-caps;
  font-size:14px;
  margin-top: 0;
  font-weight: 800;
}
.home-collection p {
  font-size: 13px;
}
.home-writers {
  border: 1px solid #efefef;
  height: 60px;
}
.home-writers h4 {
  text-align: center;
}
.home-vizualizations {
  margin-bottom: -40px;
  padding: 30px 0 50px 0;
  background-color: #fff;
}
.vizualization-block {
  max-width: 300px;
  position: relative;
  margin: 0 auto;
}
/* bootstrap edits */
.modal-content {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
.form-control-feedback {
  color: #999;
}
/* carousel */
.carousel-wrapper {
  margin-top: -20px;
}
.carousel {
  background-color: #fff;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control > span {
  top: 50%;
  margin-top: -50px;
  font-size: 100px;
  color: #000;
  display: block;
  position: absolute;
}
.carousel-control > span.fa-angle-right {
  right: 0;
}
.carousel-control:hover > span {
  color: #CECCBA;
}
.carousel-img {
  width: 1170px;
  height: 460px;
  position:absolute;
}

.news-nav-class {
  position: absolute;
  top: -40px;
  right: 0;
}
.news-nav-class > .owl-prev, .news-nav-class > .owl-next {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border: 0 none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
 -moz-outline-style: none;
}
.news-nav-class > .owl-prev:hover, .news-nav-class > .owl-next:hover {
  background-color: #f5f5f5;
}
.news-nav-class > .owl-prev {
  margin-right: 5px;
}
.home-news .item h4 {
  font-size: 16px;
}
.home-news .item {
  text-align: left;
}
@media(min-width: 767px) {
  .home-news .highlights-thumbnail {
    max-height: 160px;
  }
}

.home-highlights .news-nav-class {
  top: -64px;
}
.home-highlights .item {
  text-align: left;
}
/* buttons */
.btn-flat {
  border-radius: 0;
}
.progress-bar-green {
  background-color: #a09785;
}

.btn-letters {
  background-color: #a09785;
  color: #fff;
  transition: 0.3s all;
}
.btn-letters:hover {
  background-color: #AEA48F;
  color: #fff;
  outline: none;
}
.btn-letters:active {
  background-color: #89806f;
  color: #fff;
  outline: none;
}
.btn-letters:focus, .btn-letters:active,.btn-letters:focus:active {
  outline: none;
  color: #fff;
}

.error-container {
  color: #9b2d2d;
  border: 1px solid #9b2d2d;
  padding: 15px;
  margin: 20px 0;
  display: none;
}
.error-container-visible {
  color: #9b2d2d;
  border: 1px solid #9b2d2d;
  padding: 15px;
  margin: 20px 0;
  display: block;
  transition: 0.2s linear;
  text-align: center;
}
.error-container-visible > ol{
  text-align: left;
}
.error-container-visible > p{
  text-align: center;
}
.browse-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.browse-items > li {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  margin-bottom: 15px;
  display: block;
  position: relative;
}
.browse-items > li::after {
  content: "";
  clear: both;
}
.browse-items > li .list-thumbnail {
  float: left;
  margin: 0 15px 0 0;
  max-width: 140px;
}
.browse-items > li .list-thumbnail.small {
  max-height: 40px;
}
.item-container::after {
  content: "";
  clear: both;
  display: table;
}
.img-clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.browse-items > li > h4 {
  margin: 0;
}
.browse-items > li > .browse-item-keywords {
  color: #B7AE9A;
}
.search-checkboxes {
  text-align: right;
}
.search-checkboxes .checkbox {
  display: inline-block;
  margin-right: 15px;
}
.search-results-info {
  color: #B7AE9A;
  font-size: 14px;
}
.search-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.search-items > li {
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  display: block;
  position: relative;
}
.search-items > li .list-thumbnail {
  float: left;
  margin: 0 15px 0 0;
  max-height: 80px;
}
.search-items > li > h4 {
  margin: 0;
}
.search-items > li > .browse-item-keywords {
  color: #B7AE9A;
}
.page-thumbnail {
  margin-right: 20px;
  max-width: 100px;
}
.letter-details-table {
  margin-bottom: 20px;
  width: 100%;
}
.letter-details-table th {
  min-width: 140px;
  font-weight: 400;
}
.letter-details-table th, .letter-details-table td {
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid #ededed;
}
.letter-details-table tr:last-child th, .letter-details-table tr:last-child td {
  border-bottom: none;
}
.letter-details-big-img {
  cursor:pointer;
}
.loader-container {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.page-footer {
  background-color: #59534b;
  min-height: 40px;
}
.footer-rights {
  height: 50px;
  line-height: 50px;
  background-color: #404040;
  color: #b2b2b2;
  font-size: 11px;
}
.footer-rights a {
  color: #b2b2b2;
}
.footer-content {
  padding: 20px 0;
}
.footer-logo {
  max-height: 100px;
}
.footer-menu {
  margin: 0 20px;
  padding: 20px 0 0 0;
  list-style-type: none;
  color: #eee;
  font-weight: 400;
  font-size: 13px;
}
.footer-menu li {
  padding: 5px 0;
}
.footer-menu a {
  color: #eee;
}
.footer-menu a:hover, .footer-menu a:focus {
  text-decoration: none;
  color: #dbdbdb;
}
.footer-menu a:active {
  color: #919191;
}
.footer-social-links {
  margin: 0;
  padding: 24px 0 0 0;
  list-style-type: none;
  text-align: right;
}
.footer-social-links > li {
  display: inline-block;
  margin: 0 5px;
}
.footer-social-links > li > a {
  display: block;
  border-radius: 2px;
  background-color: #B7AE9A;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .footer-logo {
    max-height: 60px;
  }
  .footer-menu {
    padding: 40px 0;
  }
  .footer-social-links {
    text-align: left;
  }
  .newsletter-subscribe-footer {
    float: none !important;
  }
}
.scroll-up {
  border: 2px solid #556997;
  background-color: #fff;
  opacity: 0.6;
  color: #556997;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 15px;
  line-height: 32px;
  border-radius: 50%;
  transition: linear 0.3s;
}
.scroll-up:hover {
  opacity: 1;
}
.breadcrumbs-container {
  text-align: right;
  margin-bottom: 12px;
}
.breadcrumbs-list {
  padding: 0;
  margin: 0 0;
  list-style-type:none;
}
.breadcrumbs-list > li {
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
  color: #555;
}
.breadcrumbs-list > li > a {
  text-decoration: none;
  font-weight: 400;
  color: #888;
}
.breadcrumbs-list > li::after {
  font-family: 'FontAwesome';
  content: "\f105";
  margin: 0 4px;
  top: 0;
  position: relative;
  color: #444;
}
.breadcrumbs-list > li:last-child::after {
  content: "";
  margin-right: 0;
}
.breadcrumbs-list > li i {
  position: relative;
  top: 0;
}

.browse-filters {
  text-align: right;
  margin: 20px 0;
}
.pagination-container {
  display: inline-block;
}
.pagination {
  margin: 0;
}
.pagination>li>a,.pagination>li> a:visited,.pagination>li>span {
  color: #564e3c;
}
.pagination>li.active>a, .pagination>li.active>span {
  background-color: #B7AE9A;
  border-color: #B7AE9A;
  color: #fff;
}
.pagination>li.active:hover>a, .pagination>li.active:hover>span{
  background-color: #776e63;
  border-color: #776e63;
}
.browse-filters > .dropdown {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: top;
  border-radius: 0;
}
.browse-filters > .dropdown > .btn {
  padding: 4px 12px;
}
.go-to-page {
  display: inline-block;
  width: 94px;
  margin-left: 10px;
  vertical-align: top;
}
.go-to-page > .form-control {
  width: 40px;
  display: inline-block;
  position: relative;
  margin: 0;
  left:4px;
}
.go-to-page > .input-group-addon {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 50px;
  background-color: #fff;
}
.go-to-page > .input-group-btn {
  display: inline-block;
  position: relative;
  margin: 0;
}

.pagination-form {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
}
.pagination-form .form-control {
  border-right: none;
}
.pagination-form .input-group-addon {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.wrap-text {
  white-space: pre-line;
}
.badge {
  display: inline-block;
  margin: 4px 6px;
  padding-left:12px;
  padding-right:12px;
  cursor: default;
}
.bg-default {
  background-color: #efefef;
  color: #333;
}
.bg-default:hover {
  background-color: #f9f9f9;
}
.bg-default.active {
  background-color: #5caa62;
  color: #fff;
}
.topics-list, .sources-list, .authors-list, .genders-list, .languages-list, .date_sent-list {
  padding: 0 0 0 0;
  margin: 0 0 50px 0;
  list-style-type: none;
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 400px;
  overflow-y: auto;
}
.topics-list-children {
  list-style-type: none;
  padding-left: 10px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
}
.topics-list-children.open {
  visibility: visible;
  display: block;
  opacity: 1;
  animation: anim .3s ease-in-out;
  margin-bottom: -6px;
}
.topics-list a {
  color: #333;
}
.topics-list .toggle-children {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 2px 0 0 10px;
  transition: 0.2s all;
  display: inline-block;
}
@keyframes anim {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}
.sources-list li,
.authors-list li,
.genders-list li,
.languages-list li,
.date_sent-list li
{
  padding: 6px 0 6px 1px;
  display: block;
  transition: all 0.3s;
  white-space: nowrap;
  cursor: pointer;
}
.topics-list li
{
  padding: 6px 0 6px 1px;
  display: block;
  transition: all 0.3s;
  white-space: nowrap;
}
.topics-list li  .toggle-children{
  cursor: pointer;
}

.topics-list li.disabled,
.sources-list li.disabled,
.authors-list li.disabled,
.genders-list li.disabled,
.languages-list li.disabled,
.date_sent-list li.disabled
{
  display: none !important;
}
.topics-list .toggle-children.open {
  transform: rotate(-90deg);
}
.topics-list .topic-label,
.sources-list .source-label,
.authors-list .source-label,
.genders-list .source-label,
.languages-list .source-label,
.date_sent-list .source-label
{
  display: inline-block;
  margin-left: 5px;
}
.topics-list .topic-label.has-children {
  cursor: pointer;
}
.topics-list li .select-topic,
.sources-list li .select-source,
.authors-list li .select-source,
.genders-list li .select-source,
.languages-list li .select-source,
.date_sent-list li .select-source
 {
  font-size: 16px;
}
.topics-list li:hover .source-label,
.sources-list li:hover .source-label,
.authors-list li:hover .source-label,
.genders-list li:hover .source-label,
.languages-list li:hover .source-label,
.date_sent-list li:hover .source-label {
  color: #345782;
}
.topics-list li .source-label.active,
.sources-list li .source-label.active,
.authors-list li .source-label.active,
.genders-list li .source-label.active,
.languages-list li .source-label.active,
.date_sent-list li .source-label.active {
  font-weight: 600;
}
.list-items-container {
  min-height: 500px;
}
.item-pages-thumbnails {
  display: block;
  position: relative;
  width: calc(100% - 90px) !important;
  margin: 20px 45px;
}
.item-pages-thumbnails .owl-prev, .item-pages-thumbnails .owl-next {
  padding: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #999;
  opacity: 0.6;
  color: #fff;
  transition: 0.3s all;
  top: 50%;
  margin-top: -20px;
}
.item-pages-thumbnails .owl-prev:hover, .item-pages-thumbnails .owl-next:hover {
  opacity: 1;
}
.item-pages-thumbnails .owl-prev {
  left: -45px;
}
.item-pages-thumbnails .owl-next {
  right: -45px;
}
.item-view {
  min-height: 500px;
}
.item-pages-thumbnails .owl-item .item.selected .img-thumbnail {
  box-shadow: 0 0 10px #7ca586;
}
.owl-carousel .owl-stage-outer {
  padding: 10px;
}

.item-container {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  display: block;
  position: relative;
}
.item-loader {
  min-height: 400px;
  display: block;
  position: relative;
}
.item-loader > div:first-child {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.active-img-loader {
  min-height: 400px;
  display: block;
  position: relative;
}
.active-img-loader > div:first-child {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.letter-description {
  vertical-align: bottom;
  display: block;
  position: relative;
  top: 0;
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
  font-size: 13px;
  font-style: italic;
}
.toggle-info-btn i {
  transition: 0.3s all;
}
.toggle-info-btn i.closed {
  transform: rotate(90deg);
}
.letter-info-container {
  transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
  max-height: 100%;
  border-bottom: 1px solid #eee;
}
.letter-info-container.closed {
  max-height: 36px;
  overflow: hidden;
}
.item-count {
  display: block;
  position: relative;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  padding: 5px 0 0 0;
  margin-bottom: 0;
  color: #333;
  font-weight: 400;
}
.item-pages-thumbnails a:hover {
  text-decoration: none;
}

/* transcription normalizations */
*[rend="superscript"] {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
hi,addrline,salute {
  padding-right: 6px;
}
salute,signed {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
lb {
  display: block;
}
unclear::before {
  content: "{";
}
unclear::after {
  content: "}?";
}
dateline {
  display: block;
  margin-bottom: 15px;
}
note {
  display: block;
  margin-bottom: 30px;
}
closer {
  display: block;
  margin-top: 15px;
}
add {
  font-style: italic;
}
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.mock-card {
  opacity: 0.8;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.mock-title {
  color: #337ab7;
  display: block;
}
.mock-keywords {
  color: #B7AE9A;
  display: block;
  margin-bottom: 5px;
}
.mock-desription {
  color: #999;
  display: block;
  margin-bottom: 5px;
}
.dropzone > div {
  border: 2px dashed #444;
  border-radius: 4px;
  text-align: center;
}
.dropzone p {
  color: #666;
  padding: 5px 10px;
  font-style: italic;
}
.dissaproved {
  text-decoration: line-through;
  color: red;
}
/* upload status bar */
.upload-status-container {
	position: relative;
	width: 400px;
	text-align: center;
	color: #fff;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}
.upload-status-bar-inner {
	background-color: #0bbc55;
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
  width: 100%;
}
.upload-status-bar-text {
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
.files-list {
	padding-top: 20px;
	padding-left: 15px;
}
.map-container {
  position: relative;
  display: block;
  background-color: #fff;
}
.toggle-fullscreen {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 999999;
	cursor: pointer;
	font-size: 18px;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 6px 0;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.btn-white {
	color: #000;
	background-color: #fff;
}
.search-letters-container {
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  display: block;
  position: relative;
}
.results-found {
  float: right;
  font-size: 13px;
  padding-top: 15px;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 10px;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 10px;
}
.aligncentre, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.owl-item {
  text-align: center;
}
.owl-item > .item > .img-thumbnail > .page-thumbnail {
  margin: 0 auto;
}
.transcription-img-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #efefef;
  border: 1px solid #ddd;
}
.transcription-img-container-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.transcription-img-container .transcription-img {
  height: 400px;
  position: relative;
  margin: 0 auto;
  display: block;
}
.transcription-img-controllers {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  width: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  z-index:99;
}
.transcription-img-controllers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  display: block;
  height: 100%;
  padding-right: 17px;
  width: 47px;
  box-sizing: content-box;
}
.transcription-img-controllers ul li {
  padding: 5px;
}
.transcription-img-controllers ul li span {
  color: #666;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
  display: block;
  border: 1px solid #ddd;
  background-color: #fff;
  padding-left: 1px;
}
.transcription-img-controllers ul li span:hover {
  background-color: #f0f0f0;
}
.transcription-img-controllers ul li span:active {
  background-color: #e0e0e0;
}
.transcription-editor-container {
  margin: 15px 0;
}
.transcription-editor-toolbar {
  padding: 0;
  margin: 0 0 -1px 0;
}
.transcription-editor-toolbar > li {
  padding: 2px;
  list-style-type: none;
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 20px;
}
.transcription-editor-toolbar > li > div {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.transcription-editor-toolbar > li > div:hover {
  background-color: #f5f5f5;
}
.transcription-editor-body {
  border: 1px solid #eee;
  padding: 10px;
}
.transcription-editor-body:focus {
  outline: 1px solid #f0f0f0;
}
.transcribe-approve-btns {
  padding-top: 10px;
  text-align: center;
}
.react-draggable {
  cursor: grab;
}
.react-draggable.dragging {
  cursor: grabbing;
}
.pages-list {
  margin-bottom: 15px;
}
.carousel-cell {
  padding: 0 10px;
}
.carousel-cell > .img-thumbnail > img{
  margin: 0 auto;
  position: relative;
}
.letter-form-description {
  font-style: italic;
  font-size: 13px;
}
.letter-form-container {
  padding: 30px;
}
.select-child::before {
  content: "-";
  margin-left:15px;
  padding-right:5px;
}
.select-child {
  display: none;
}
.form-page-thumbnail {
  cursor: pointer;
  width: 140px;
  height: 140px;
  padding: 0 10px;
}
.form-pages-preview-container {
  margin: 0 0 15px 0;
  padding: 0;
  overflow-x: auto;
}
.remove-form-img {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}
.action-buttons-list {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  text-align: right;
}
.action-buttons-list > li {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  padding: 0 5px;
  vertical-align: top;
}
.action-button {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  outline: none;
  transition: 0.3s all;
  border-radius: 50%;
  display: block;
  color: #333;
  text-align: center;
}
.action-button:hover {
  background-color: #eee;
}
.color-red {
  color: #ce0808;
}
.color-green {
  color: #57905c;
}
.color-blue {
  color: #3482b4;
}
.color-grey {
  color: #cccccc;
}
.transcription-container {
  padding: 15px;
  border: 1px solid #ddd;
}
.transcription-editor {
  position: relative;
  min-height: 250px;
}
.transcription-editor-move-handle {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: default;
  z-index: 999;
  text-align: center;
  cursor: grab;
}
.transcription-editor-move-handle:active {
  cursor: grabbing;
}
.transcription-editor-resize-handle {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  cursor: se-resize;
  z-index: 99;
}
.transcription-editor-dropzone.active {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #CCC;
}
.transcription-editor-dropzone.over {
  border: 1px solid #666;
  height: 60px;
}
.transcription-saving-container {
  position: absolute;
  bottom: 34px;
  right: 5px;
  z-index: 99;
  width: 100px;
}
.transcription-saving {
  position:absolute;
  font-size: 12px;
  right: 5px;
  top: 10px;
}
.form-group label {
  vertical-align: middle;
  line-height: 32px;
}
.password-strength {
  display: none;
    color: #fff;
  height: 34px;
}
.password-strength > .password-text {
  position: relative;
  width: 100%;
  display: block;
  line-height: 32px;
  text-align: center;
}
.password-strength.green, .password-strength.orange, .password-strength.red {
  display: block;
}
.password-strength.green {
  background-color: #7dc183;
  border: 1px solid #57905c;
}
.password-strength.orange {
  background-color: #ff8c00;
  border: 1px solid #d67b13;
}
.password-strength.red {
  background-color: #d37e7e;
  border: 1px solid #d85f5f;
}
.license-agreement-text {
  border: 1px solid #ddd;
  padding: 15px;
  height: 200px;
  background-color: #f9f9f9;
  overflow-y: auto;
  box-shadow: inset 0 0 5px #ccc;
}
/* datepicker */
.datepicker-wrapper {
  width: 100%;
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
}
.datepicker-wrapper .react-datepicker__triangle {
  display: none;
}
.datepicker-wrapper .react-datepicker {
  border: none !important;
  background-color: #fff;
  border-radius: 0;
}
.datepicker-wrapper input {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.react-datepicker-wrapper {
  font-size: 1.2rem !important;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block !important;
}
.react-datepicker-popper {
  z-index: 99 !important;
  background-color: #fff;
  margin: 0 !important;
  padding: 10px 10px 0 10px;
}
.react-datepicker__navigation {
  border-top-width: 0.8rem !important;
  border-right-width: 0.7rem !important;
  border-bottom-width: 0.8rem !important;
  border-left-width: 0.7rem !important;
}
.react-datepicker__navigation--previous {
  right: 26px !important;
  left: auto !important;
  border-right-color: #8b9898 !important;
}
.react-datepicker__navigation--next {
  border-left-color: #8b9898 !important;
  right: 0 !important;
}
.react-datepicker-popper .react-datepicker__day-name,
.react-datepicker-popper .react-datepicker__day,
.react-datepicker-popper .react-datepicker__time-name {
  width: 3rem ;
  line-height: 3rem;
  font-size: 1.4rem;
  margin: 0.3rem;
  transition: 0.2s linear;
  border-radius: 50% !important;
  color: #333 !important;
}
.react-datepicker-popper .react-datepicker__day:hover {
  background-color: #f0f0f0;
}
.react-datepicker-popper .react-datepicker__current-month,
.react-datepicker-popper .react-datepicker-time__header
 {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: left;
  padding-left: 15px;
}
.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
  padding-top: 5px !important;
}
.react-datepicker__triangle {
  border-bottom-color: #fff !important;
}
.react-datepicker-popper {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}
.react-datepicker__day-names {
  padding-top: 10px;
}
.react-datepicker-popper .react-datepicker__day-name {
  color: #666 !important;
}
.react-datepicker-popper .react-datepicker__day--highlighted {
  background-color: #FF9B00 !important;
  color: #fff !important;
}
.react-datepicker-popper .react-datepicker__day--selected
 {
  background-color: #3dcc4a !important;
  color: #FFFFFF !important;
}
.react-datepicker-popper .react-datepicker__day--today {
  color: #FFFFFF !important;
}
.react-datepicker__month-container {
  min-height: 300px;
}


/* admin menu */
.admin-menu-trigger {
  position: fixed;
  z-index: 99999999;
  top: 40px;
  right: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  background-color: #232e33;
}
.admin-menu-trigger > a {
  color: #fff;
  text-decoration: none;
}
.admin-menu-trigger.open {
  right: 220px;
}
.admin-menu-container {
  position: fixed;
  z-index: 99999999;
  display: block;
  top: 0;
  right: -220px;
  bottom: 0;
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  background-color: #232e33;
}
.admin-menu-container.open {
  right: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}
.admin-menu-inner {
  display: block;
  padding: 0;
}
.admin-menu-inner h4 {
  color: #fff;
  font-size: 16px;
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #272d33;
}
.admin-menu-inner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.admin-menu-inner ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;

}
.admin-menu-inner ul li:hover {
  background-color: #3a434c;
}
.admin-menu-inner ul li.active {
  border-left: 4px solid #3ea0d8;
}
.admin-menu-inner ul li.active a {
  color: #fff;
}
.admin-menu-inner ul li a {
  color: #d3e1e8;
  text-decoration: none;
}
.admin-menu-inner ul li.separator {
  color: #56717c;
  font-size: 12px;
  background-color: #1f1f1f;
}
.admin-menu-inner ul li.separator:hover {
  background-color: #1f1f1f;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  border-radius: 0 !important;
}
.newsletter-subscribe-footer {
  max-width: 300px;
  float: right;
  margin-top: 10px;
}
.newsletter-subscribe-response {
  color: #fff;
}
.clear-search-user {
  cursor: default;
  position: absolute;
  right: 15px;
  top: 0px;
  opacity: 0.6;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
}
.clear-search-user:active {
  opacity: 0.9;
}
.cookies-consent-container {
  position: fixed;
  right:15px;
  bottom: 15px;
  left:15px;
  border: 4px solid #333;
  padding: 15px;
  z-index: 9999999;
  text-align: center;
  background-color: #4A5055;
  color: #fff;
}
.cookies-consent-content {
  position: relative;
  z-index: 2;
}
.cookies-consent-content a, .cookies-consent-content a:visited {
  color: #eee;
}
.wp-content td {
  padding: 10px;
}
blockquote {
  font-size: 16px;
}
.transcription-page-select-status {
  position: absolute;
  top: 5px;
  left: 5px;
}
.filter-autocomplete {
  position: relative;
  transition: linear 0.5s;
  max-height: 34px;
  overflow-y: hidden;
}
.filter-autocomplete.closed {
  height: 0;
}
.filter-autocomplete i {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 30px;
  text-align: center;
  line-height: 34px;
  z-index: 99;
}
.filter-autocomplete i:hover {
  color: #999;
}
.filter-autocomplete i:active {
  color: #000
}
.admin-container {
  background-color: #75b5c6;
}
.grid-gallery {
  margin: 0 0 20px 0;
}
.grid-gallery:after {
  content: "";
  clear: both;
  display: table;
}
.grid-gallery .tile {
  border: 1px solid #eee;
  margin: 0 10px 10px 0 !important;
}
.grid-gallery .custom-overlay {
  z-index:9999;
}
.grid-gallery .tile a{
  color: #fff !important;
}
figcaption a {
  color: #fff !important;
}

.home-blocks {
  padding: 50px 0;
  background-color: #fcfcf9;
}
.home-block {
  display: block;
  position: relative;
  max-width: 240px;
  margin: 0 auto;
}
.home-block p {
  text-align: justify
}
.href-btn {
  cursor: pointer;
}
.item-thumb {
  cursor: pointer;
}
